<div>
    <ul class="about-ul">
        <li class="about-li"><a routerLink="/about">About us company</a></li>
        <li class="about-li"><a routerLink="/facilities">Our Service</a></li>
        <li class="active-li"><a routerLink="/service">Our facilities</a></li>
    </ul>
    <div style="margin-top: 160px; margin-left:25%;padding:1px 16px;height:1000px;background-color:  #333333;color: white">
        <div class="header">
            <h1>Service Provided</h1>
            <p>We provide you with services such as:<br> -Recording Studio<br>-Voice Over Recording<br> -Rehearsal Studio<br> -On Location Live Sound Recording<br> -Audio Mixing<br> -Audio Mastering<br> -Jingle Production<br> -Sound Design.</p>
        </div>

        <!-- Photo Grid -->
        <div class="row">
            <div class="column">
                <img src="assets/studio/1.jpg" style="width:25%">
                <img src="assets/studio/2.jpg" style="width:25%">
                <img src="assets/studio/3.jpg" style="width:25%">
                <img src="assets/studio/5.jpg" style="width:25%">
                <img src="assets/studio/7.jpg" style="width:25%">
                <img src="assets/studio/8.jpg" style="width:25%">

            </div>

        </div>
    </div>
</div>