<div>
    <ul class="about-ul">
        <li class="about-li"><a routerLink="/about">About us company</a></li>
        <li class="active-li"><a routerLink="/facilities">Our Service</a></li>
        <li class="about-li"><a routerLink="/service">Our facilities</a></li>
    </ul>
    <div style="margin-top: 160px; margin-left:25%;padding:1px 16px;height:1000px;background-color:  #333333;color: white">
        <h1 style="font-size:50px;" align="center">Facilities</h1>
        <p><b style="font-size: 20px"> Spesifikasi Alat</b><br><br>
            <b style="font-size: 15px">Audio Interface:</b><br> 1. Universal Audio 8p<br> 2. Focusrite Octopre<br><br>
            <b style="font-size: 15px">EQ & Summing Tube PreAmp Mixer:</b><br> 1. TL Audio Fat Track<br><br>
            <b style="font-size: 15px">Monitoring system:</b><br> 1. Yamaha HS8<br> 2. Akai SW 155<br><br>
            <b style="font-size: 15px">Instruments Amplifier:</b><br> 1. Orange Rockeverb tube guitar amp<br> 2. Fender Hotrod Deluxe tube guitar amp<br> 3. GK MB115-II Bass Amplifier<br> 4. Drum mapex silver series<br> 5. Organ Farfisa<br> 6. Laney AH
            300 Keyboard amp<br>
            <br>
            <br>
        </p>
        <p><b style="font-size:20px ">Pricing</b><br> Recording 1.250.000/ 6 jam plus operator<br> Latihan 300.000/2 jam 400.000/3jam<br>
        </p>
    </div>
</div>