<div class="modal">
    <div class="loginform">
        <form>
            <h1 class="heading">LOGIN</h1>
            <br>
            <label class="username">Username</label>
            <br>
            <input class="iusername" type="text">
            <br>
            <label class="password">Password</label>
            <br>
            <input class="ipassword" type="password">
            <br>
            <button id="submit"><a routerLink="/about">Submit</a></button>
            <button id="cancel"><a routerLink="/about">Cancel</a></button>
        </form>
    </div>
</div>