<div class="headerform">
    <h1>Booking Form</h1>
</div>
<div class="bingkai">
    <div class="form">
        <div class="kategori">
            Kategori
            <select>
                <option value="recording">Recording</option>
                <option value="recording">Latihan</option>
            </select>
        </div>

        <div class="jam">
            Date & Time*
            <input type="datetime-local">
        </div>
        <div class="harga">
            For n Hours
            <input type="number" [(ngModel)]="hours" placeholder="hours">
        </div>


        <div class="ps">
            *Minimal 2 jam booking
        </div>

        <div class="harga">
            <span>Total Harga: Rp. {{hours * 150000}}</span>
        </div>

        <div class="pembayaran">
            Pembayaran
            <input type="radio" name="bca" value="bca">BCA
            <input type="radio" name="pembayaran" value="mandiri">Mandiri

            <hr>

            <div class="book">
                <a routerLink="/about">Book</a>
            </div>
        </div>
    </div>
</div>