<div>
    <ul class="about-ul">
        <li class="active-li"><a routerLink="/about">About us company</a></li>
        <li class="about-li"><a routerLink="/facilities">Our Service</a></li>
        <li class="about-li"><a routerLink="/service">Our facilities</a></li>
    </ul>
    <div style="margin-top: 160px; margin-left:25%;padding:1px 16px;height:1000px;background-color:  #333333; color: white;">
        <br>
        <br>
        <img src="assets/Logo.png" style="float:left;width:200px;height:200px;">
        <h2 style="font-size:50px;" align="center">
            Palm House Studio
        </h2>
        <br>
        <br><br>
        <p style="font-size: 20px">Palm House Studio, Located in the heart of Jakarta. We are your One-stop Audio Production solution. Run by certified Audio Engineers from JMC Music Academy (Australia) and SAE (Singapore). <br><br> We provide you with services such as:<br> -Recording
            Studio
            <br>-Voice Over Recording<br> -Rehearsal Studio<br> -On Location Live Sound Recording<br> -Audio Mixing<br> -Audio Mastering<br> -Jingle Production<br> -Sound Design.
        </p>
    </div>
</div>